@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background:#f3eee8;
  font-family: "Raleway", Helvetica, Arial !important;
}

.hero-cta .button:hover{
  box-shadow: #0000004f 2px 2px;
  transform: translateY(2px);
}

@media only screen and (max-width: 500px){
  .hero-cta{
    flex-direction: column;
    width: 100%;
  }

  .copyContainer{
    padding: 0;
    margin-bottom: .5rem;
  }

  .chevron-copy{
    flex-direction: column;
    max-width: 300px;
    row-gap: 2rem;
  }

}

.hero-section{
  height: 650px;
}

@media only screen and (max-width: 1024px){
  .hero-section{
    height: fit-content;
  }

  .color-pdt{
    color: #FF8400;
  }
}

a{
  cursor: pointer;
}

.show .logoContainer{
  opacity: 0;
  visibility: hidden;
}

.show #bgmenu{
  opacity: 1;
  visibility: visible;
}

#bgmenu{
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms linear 80ms, visibility 150ms linear 80ms;
}

.logoContainer{
  transition: opacity 300ms linear, visibility 300ms linear;
  opacity: 1;
  visibility: visible;

}
.navWrapper{
  min-height: 5rem;
  transition: min-height 500ms cubic-bezier(.4,0,.6,1) 80ms;
}

.show{
  min-height: 100vh;
}

.hero-bg{
  background-image: url('../public/hero-backg.jpeg');
  background-color: #eee4be3d;
  background-position: -78px 0px;
  background-blend-mode: multiply;
  opacity: .9;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-size: 1400px;
  background-repeat: no-repeat;
}

.copyContainer{
  color: #31353d;
}

.btn-services{
  background: #FF8400;
  color: white;
}

.button{
  width: 200px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #0000004f 4px 4px;
}

#chevron {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: fit-content;
  padding-bottom: 3rem;
  width: 100%;
  background: white;
}
/* #chevron:before {
  content: '';
  position: relative;
  display: inline-block;
  top: 50px;
  left: 3px;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, 6deg);
}
#chevron:after {
  content: '';
  position: relative;
  display: inline-block;
  top: 50px;
  right: -2px;
  height: 100%;
  width: 50%;
  background: white;
  transform: skew(0deg, -6deg);
} */

.chevron-title{
  color:#FF8400
}

.chevron-copy{
  display: flex;
}
